body{font-family: 'Montserrat', sans-serif;}

a:hover{
    color: inherit;
}

.navbar-brand img{max-height: 100px;}

.parallax-window {
    min-height: 400px;
    background: transparent;
}


footer{
    background-color: #343a40;
    color: #FFF;
}

footer a{
    display: block;
    color: #FFF;
}

footer table{
    
    color: #fff;
    
}


footer  .table td{
    border: 0;
}

.font_vadodara_16px{
    font-family: Hind Vadodara,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.col_categories .a_col_categories ,.col_menu{
    position: relative;
    font-weight: 300;
    line-height: 1.2;
    color: #535353;
    text-rendering: optimizeLegibility;
    margin: 16px 0 0;   
}

.title_col_menu {
    color: #535353;
    font-weight: bold;
}

.col_carrello{
    color: #535353;
}

.b_add_product{
    width: 36px;
    height: 36px;
    text-align: justify;
}

.b_del_product{
    width: 25px;
    height: 25px;
    text-align: justify;
}

.elem_riga_carrello{
    padding-left: 0px;
    padding-right: 0px;
}

.li_riga_carrello{
    padding-right: 0px;
}